@import 'colors';

// Mobile media query
@media (max-width: 767px) {
  section.home > .text-box {
    margin: 2rem;
    h1 {
      font-size: 4rem;
      background-color: $light;
      color: $dark;
      padding: 3.2rem;
    }
  }

  section.home .header {
    flex-direction: column-reverse;
  }

  img#profile {
    margin-bottom: 0;
  }

  ul.skills {
    gap: 0.4rem;

    li {
      background: $secondary;
      color: $dark;
      padding: 0.2rem 0.6rem;
    }

    li:not(:last-child)::after {
      content: '';
      margin: 0;
    }
  }

  ul#home-links {
    flex-direction: column;
    gap: 2rem;
    li {
      width: 100%;
      a.button {
        width: 100%;
      }
    }
  }

  ul.social-links {
    gap: 1.6rem;
    li {
      font-size: 2.8rem;
    }
  }
}
